NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=3306
DB_NAME=note_taking_db
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=JWT_SECRET
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

UPLOAD_DIR=./uploads
MAX_FILE_SIZE=10485760